@media only screen and (min-width: 64em ) {
    
    header {
        height: 100%; /* 100% Full-height */
    width: 25%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
   
        
    } 
    
    main {
        Margin-left: 25%;
        max-width: 75%;
    }
    
    
    
    
}
