* { box-sizing: border-box;} 

body { max-width: 100%;
  font-size: 16px;
  font-family:'Helvetica','Arial', sans-serif; 

}

header, nav, main, footer {
  max-width: 100% ; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views*/
}
/*header*/
header {
    color:#FAEBD7;
    background-color:#6495ED;}
h1, li {
    text-align: left;
    text-decoration: none;
}
h1, h2 {
    font-family: 'Lora', serif;
    text-decoration: none;
    color: black;
   
}
h2:link {
    color:black;
}
main {
    background-color:#FAEBD7;
}
nav li:visited {
color:#FAEBD7;
    text-decoration: none;
}
nav li:hover{
    color:white;
    text-decoration: underline;
}
nav li:active {
    color: #DEB887;
}
article {
    padding: 5%;
    margin: 5%;
    margin-top: 5%;
    background-color: white;
    color:black;
}
.post-content h2 {
    color:black;
    text-decoration: none;
}
.post-content h2:hover {
    text-decoration: underline;
}
.post-content h2:active {
    color: #DEB887;
}
.post-content img {
    width: 70%;
    height: 40%;
    align-content: center;
}
.post-date {
    color:dimgrey;
    
    padding-top: 5%;
}