* { box-sizing: border-box;} 

body { max-width: 100%;
  font-size: 16px;
  font-family:'Helvetica','Arial', sans-serif; 

}

header, nav, main, footer {
  max-width: 100% ; 
}
/*header*/
header {
    color:#FAEBD7;
    background-color:#6495ED;
    padding: 5%;
    text-align: right;
    text-decoration: none;
    list-style-type: none;
}
a:link {
    text-align: left;
    text-decoration: none;
    
}
h1, h2 {
    font-family: 'Lora', serif;
    text-decoration: none;
    color: black;
   
}
h2 a:link{  color:black;
}
/*nav*/
nav {
    list-style-type: none;
    text-align: right;
}
ul {
   list-style-type: none; 
    
}
li {
    padding: 5%;
}
nav a{
    list-style-type: none;
}
h1 a{
    color:#FAEBD7; 
}
 h2 a {
    color:black;
}
nav a:visited {
color:#FAEBD7;
    text-decoration: none;
}
nav a:hover{
    color:white;
    text-decoration: underline;
}
nav a:active {
    color: #DEB887;
}
/*articles*/
main {
    background-color:#FAEBD7;
    padding-top: 5%;
    padding-bottom: 5%;
}
article {
    padding: 5%;
    margin: 5%;
    
    background-color: white;
    color:black;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-content h2 {
    color:black;
    text-decoration: none;
}
.post-content h2 a:hover {
    text-decoration: underline;
}
.post-content h2 a:active {
    color: #DEB887;
}
.post-content img {
    width: 70%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.post-date {
    color:dimgrey;
    margin-top: -5%;
    padding-top: 5%;
}
p a:visited {
    color:black;
}
p a:active {
    color:  #DEB887;
}
p a:hover {
    color: #6495ED;
    text-decoration: underline;
}
@media only screen and (min-width: 64em ) {
    
    header {
        height: 100%; /* 100% Full-height */
    width: 22%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
   
        
    } 
    
    main {
        Margin-left: 22%;
        max-width: 78%;
        margin-top: -7%;
    }
    
    nav {
        font-size: .85em;
    }
    article {
        margin: 10%;
        font-size: 1.5em;
    }
    
}