* { box-sizing: border-box;} 

body { max-width: 100%;
  font-size: 16px;
  font-family:'Helvetica','Arial', sans-serif;  
}

header, nav, main, footer {
  max-width: 100% ; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views*/
}
/*header*/
header {
    color:#FAEBD7;
background-color:#6495ED;
    
}
